{% if apache_custom_vhosts %}
{% for vhost in apache_custom_vhosts %}
<VirtualHost *:{{ apache_port }}>
    {% if vhost.macro is defined and vhost.macro -%}
    Use {{ vhost.macro }} {{ vhost.ServerName }} {{ vhost.DocumentRoot }}
    {%- endif %}

    {% if vhost.misc is defined and vhost.misc -%}
    {{ vhost.misc }}
    {%- endif %}
</VirtualHost>
{% endfor %}
{% endif %}
